//	_base.scss
//		Variable declarations and
//		importing mixins/functions.
//		Table of Contents
//			1. Variables
//				1.1 Screen Settings
//				1.2	Colours
//			2. Imports
//			3. `Fixer` CSS
//				3.1 Micro Clearfix


//	=================================================
//	1. Variables
//	=================================================

//	1.1 Columns
@import "columns";

//	1.2 Colour Variables
$dark_grey: #363636;
$grey: #7d7d7d;
$body-background: #ececee;
$green: #8dc63f;
$dark-green: #00703c;
$white: #ffffff;
$black: #000000;

//	1.3 Typography
$base-font-size: 16px;
$base-line-height: 20px;

//	================================================
//	2. Imports
//	================================================

@import "typography";

//	================================================
//	3. FIXER CSS
//	================================================

//	3.1 Micro Clearfix

img {
	display: inline-block;
	border: 0px;
	}